<?xml version="1.0"?>
<ruleset name="AlmicaHealing">
	<file>wp-content/themes/almicahealing</file>
	<file>wp-content/plugins/almicahealing-core</file>
	<file>wp-content/mu-plugins</file>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>
	<arg name="extensions" value="php"/>
	<config name="testVersion" value="8.2-"/>
	<config name="minimum_wp_version" value="7.1"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP"/>
	<rule ref="WordPress.WP.I18n">
		<properties><property name="text_domain" type="array"><element value="almicahealing"/></property></properties>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties><property name="prefixes" type="array"><element value="almicahealing"/></property></properties>
	</rule>
</ruleset>
